<div class="main-content">
    <header>
      <div class="choose-form">
        <div class="search">
          <input type="text"
                 [value]="searchText"
                 (click)="searchText = ''"
                 (keyup)="cityModel.searchCityEvent.emit($event.srcElement.value)"
                 [placeholder]="placeholder"
          >
          <div class="icon">
            <i class="fas fa-search"></i>
          </div>
        </div>
        <div class="dropdown" *ngIf="searchCities">
          <div class="dropdown-container">
            <div class="dropdown-box">
                <div class="dropdown-item" *ngFor="let city of searchCities" (click)="cityChanged(city)">
                {{ city.name }}, {{ city.country }}</div>
            </div>
          </div>
          <div class="arrow" *ngIf="searchCities.length > 4">
            <div>
                <i class="fas fa-sort-down"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="units-div">
        <div class="units-content" [style.transform]="unitShow ? 'scale(0)' : 'scale(1)'">
          <div *ngFor="let unit of units;let i=index" class="unit">
            <input type="radio" (click)="unitChanged(i)" name="weatherUnit" checked="i===0">
            <span>{{ unit.unitSign }}</span>
          </div>
          <div class="checked-div"
               (window:resize)="onResize()"
               [style.transform]="unitIndex ? translate + '(' + unitIndex * 100 + '%)' : ''"
          ></div>
        </div>
        <div class="wheel" (click)="this.unitShow = !this.unitShow;">
            <i class="fas fa-cog" [style.animation]="!unitShow ? 'wheel 0.3s' : 'wheel2 0.3s'"></i>
        </div>
      </div>
    </header>
    <nav>
      <div class="navbar">
        <ul>
          <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Current weather</li>
          <li routerLink="weather-forecast" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Weather forecast</li>
        </ul>
      </div>
      <div class="name">
        <h1>MyWeatherApp</h1>
      </div>
    </nav>
  </div>
