<div class="main-content">
    <header>
      <div class="choose-form">
        <div class="search">
          <input type="text" [(ngModel)]="searchText" (click)="inputClick()" (keyup)="search()" [placeholder]="placeholder">
          <div class="icon">
            <i class="fas fa-search"></i>
          </div>
        </div>
        <div class="dropdown" [class.hide]="hide">
          <div class="dropdown-container">
            <div class="dropdown-box">
              <div class="dropdown-item" *ngFor="let city of searchCities;let i=index" (click)="cityChanged(i)">{{ city.name }}, {{ city.country }}</div>
            </div>
          </div>
          <div class="arrow" [class.hide]="!showArrow">
            <div>
                <i class="fas fa-sort-down"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="units-div">
        <div *ngFor="let unit of units;let i=index" class="unit" [style.opacity]="unitShow ? '0' : '1'">
          <input type="radio" (click)="unitChanged(i)" name="weatherUnit" checked="i===0">
          <span>{{ unit.unitSign }}</span>
        </div>
        <div class="checked-div" [style.opacity]="unitShow ? '0' : '1'" [style.transform]="unitIndex ? 'translateX(' + unitIndex * 100 + '%)' : ''"></div>
        <div class="wheel" (click)="showUnit()">
            <i class="fas fa-cog" [style.animation]="!unitShow ? 'wheel 0.3s' : 'wheel2 0.3s'"></i>
        </div>
      </div>
    </header>
    <nav>
      <div class="navbar">
        <ul>
          <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Current weather</li>
          <li routerLink="weather-forecast" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Weather forecast</li>
        </ul>
      </div>
      <div class="name">
        <h1>MyWeatherApp</h1>
      </div>
    </nav>
  </div>
