<div class="main-content">
  <div class="container">
    <div class="title">
      <h1>Weather forecast</h1>
    </div>
    <div class="description" *ngIf="weatherForecast">
      <div class="name">
        <strong>{{ weatherForecast.city.name }}, {{ weatherForecast.city.country }}</strong>
      </div>
      <div class="days">
        <div class="day" *ngFor="let day of weatherForecast.days;let i=index">
          <div class="day-caption">
            <strong class="day-of-week" *ngIf="i===0">Today, </strong>
            <strong class="day-of-week" *ngIf="i>0">{{ day | date: 'EEEE' }}, </strong>
            <strong class="date">{{ day | date: 'MMMM d.' }}</strong>
          </div>
          <div class="temp-container">
            <div *ngFor="let hour of weatherForecast.hours;let j=index">
              <div class="hour-temp" *ngIf="day === hour.shortDate">
                <span class="hour">{{ hour.date | date: 'HH' }}h </span>
                <span>
                  <span class="temp" *ngIf="unit.name === 'celsius'">{{ hour.main.tempC | number: '1.0-0' }}</span>
                  <span class="temp" *ngIf="unit.name === 'fahrenheit'">{{ hour.main.tempF | number: '1.0-0' }}</span>
                  <span class="temp" *ngIf="unit.name === 'kelvin'">{{ hour.main.tempK | number: '1.0-0' }}</span>
                  <span>{{ unit.unitSign }}</span>
                </span>
                <!-- <span class="temp" *ngIf="unit.name === 'celsius'">{{ hour.main.tempC | number: '1.0-0' }}{{ unit.unitSign }}</span>
                <span class="temp"*ngIf="unit.name === 'fahrenheit'">{{ hour.main.tempF | number: '1.0-0' }}{{ unit.unitSign }}</span>
                <span class="temp" *ngIf="unit.name === 'kelvin'">{{ hour.main.tempK | number: '1.0-0' }}{{ unit.unitSign }}</span> -->
                <img src="https://openweathermap.org/img/w/{{hour.weather.icon}}.png" alt="">
              </div>
            </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
